#transform_board {
  height: 500px;
  background: white;
  position: relative; }

#show_body {
  position: relative; }
  #show_body #russiablock {
    height: 1000px; }
    #show_body #russiablock #russiablock_des {
      text-align: center;
      font-size: 30px; }
    #show_body #russiablock .blockpiece {
      position: absolute;
      transition: linear 0.3s;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background: gray;
      color: white; }
    #show_body #russiablock .textpiece {
      margin-left: 14px;
      margin-top: 10px; }
  #show_body #resumeBody {
    background: gray;
    height: 1000px;
    z-index: 0; }
    #show_body #resumeBody .resume {
      position: absolute;
      color: gray;
      z-index: 10; }
    #show_body #resumeBody #word1 {
      font-size: 36px;
      left: 100px;
      top: 150px; }
    #show_body #resumeBody #word2 {
      font-size: 44px;
      left: 300px;
      top: 250px; }
    #show_body #resumeBody #word3 {
      font-size: 42px;
      left: 300px;
      top: 450px; }
    #show_body #resumeBody #word4 {
      font-size: 36px;
      left: 200px;
      top: 650px; }
    #show_body #resumeBody #word5 {
      font-size: 46px;
      left: 350px;
      top: 800px;
      z-index: 10; }
    #show_body #resumeBody .circle {
      width: 400px;
      height: 400px;
      border-radius: 400px;
      background: white;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 5; }
    #show_body #resumeBody #heart {
      position: absolute;
      left: 300px;
      top: 750px;
      z-index: 6; }
    #show_body #resumeBody .heartHide:before, #show_body #resumeBody .heartHide:after {
      transition: ease 1s;
      position: absolute;
      content: "";
      left: 150px;
      top: 0;
      background: gray;
      width: 150px;
      height: 240px;
      border-radius: 150px 150px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%; }
    #show_body #resumeBody .heartHide:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%; }
    #show_body #resumeBody .heartShow:before, #show_body #resumeBody .heartShow:after {
      transition: ease 1s;
      position: absolute;
      content: "";
      left: 150px;
      top: 0;
      background: red;
      width: 150px;
      height: 240px;
      border-radius: 150px 150px 0 0;
      transform: rotate(-45deg);
      transform-origin: 0 100%; }
    #show_body #resumeBody .heartShow:after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: 100% 100%; }
  #show_body #mobile {
    height: 1000px; }
    #show_body #mobile .container {
      perspective: 800px;
      -webkit-perspective: 800px;
      -moz-perspective: 800px;
      -ms-perspective: 800px;
      -o-perspective: 800px;
      position: relative;
      margin: 0 auto;
      width: 470px;
      height: 1000px; }
    #show_body #mobile .iphone-front, #show_body #mobile .iphone-back {
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
      -o-transform-style: preserve-3d;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      width: 380px;
      height: 800px;
      position: absolute;
      top: 130px;
      left: 50px;
      background: url(images/iphone.png) no-repeat right center;
      transition: 0.8s; }
    #show_body #mobile .iphone-front {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      background-position: left center; }
    #show_body #mobile .container:hover .iphone-back {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg); }
    #show_body #mobile .container:hover .iphone-front {
      transform: rotateY(360deg);
      -webkit-transform: rotateY(360deg);
      -moz-transform: rotateY(360deg);
      -ms-transform: rotateY(360deg);
      -o-transform: rotateY(360deg); }
    #show_body #mobile #outer-container {
      position: absolute;
      top: 118px;
      left: 31px;
      width: 320px;
      height: 567px;
      background: url(images/iphone_desk.png);
      overflow: hidden; }
    #show_body #mobile #inner-container {
      position: absolute;
      left: 0;
      overflow-x: hidden;
      overflow-y: scroll; }
    #show_body #mobile #content {
      width: 320px;
      height: 567px; }
    #show_body #mobile .news {
      font-size: 24px; }
    #show_body #mobile #news1 {
      width: 320px;
      height: 200px;
      background: url("http://i2.cdn.turner.com/cnnnext/dam/assets/160712193345-01-pence-trump-split-overlay-tease.jpg");
      background-size: cover;
      color: white; }
    #show_body #mobile #news2 {
      width: 320px;
      height: 200px;
      background: url("http://i2.cdn.turner.com/cnnnext/dam/assets/161005100340-laura-prepon-ben-foster-medium-tease.jpg");
      background-size: cover;
      color: white; }
    #show_body #mobile #news3 {
      width: 320px;
      height: 200px;
      background: url("http://img.bleacherreport.net/cms/media/image/9f/8c/c4/a1/2b60/47a5/b85f/2d5f26d99eee/crop_exact_607676807_jm_4631_7f3a72e93c4f6d55f0180190d5722578.jpg?w=460&h=259&q=75");
      background-size: cover;
      color: white; }
    #show_body #mobile #news4 {
      width: 320px;
      height: 200px;
      background: url("http://i2.cdn.turner.com/cnnnext/dam/assets/151123182014-02-weird-water-features-large-tease.jpg");
      background-size: cover;
      color: white; }
    #show_body #mobile #news5 {
      width: 320px;
      height: 200px;
      background: url("http://i2.cdn.turner.com/cnnnext/dam/assets/161005100321-dwts-marriage-proposal-sasha-farber-emma-slater-2-medium-tease.jpg");
      background-size: cover;
      color: white; }
    #show_body #mobile #news6 {
      width: 320px;
      height: 200px;
      background: url("http://www.nextadvisor.com/images/uploads/CardsOutOfFocus_460x259.jpg");
      background-size: cover;
      color: white; }
    #show_body #mobile #movie {
      width: 320px;
      height: 200px;
      background: url(images/movie.gif);
      background-size: cover;
      color: white; }
    #show_body #mobile #shopping {
      width: 320px;
      height: 200px;
      background: url(images/shopping.gif);
      background-size: cover;
      color: white; }
    #show_body #mobile #homebtn {
      position: absolute;
      left: 155px;
      top: 705px;
      width: 70px;
      height: 70px; }
    #show_body #mobile #homebtn_des {
      font-size: 20px;
      position: absolute;
      text-align: center;
      top: 940px;
      width: 470px;
      height: 40px; }

/*# sourceMappingURL=main.css.map */
