#transform_board{
	height:500px;
	background:gray;
	position:relative;
}

#my_name{
	color:white;
	font-size:30px;
	text-align:center;
	height:40px;
}

#russiablock{
   position:relative;
   height:1000px;
   #russiablock_des{
   	  color:gray;
   	  text-align:center;
   	  font-size:30px;
   }
   .blockpiece{
   	  position:absolute;
   	  transition:linear 0.3s;
   	  width:40px;
   	  height:40px;
   	  border-radius:40px;
   	  background:gray;
   	  color:white;
   }
   .textpiece{
   	 margin-left:14px;
   	 margin-top:10px
   }
}

#resumeBody{
	position:relative;
	background:gray;
    z-index:0;
    #my_experience{
		color:white;
		font-size:30px;
		text-align:center;
		height:40px;
    }
    .resume{
    	color:gray;
    	z-index:10;
    	font-size:20px;
    	padding:20px;
    }
    .circle{
    	width:750px;
    	height:750px;
    	border-radius:200px;
    	background:white;
    	position:absolute;
    	left:0px;
    	top:0px;
    	z-index:5;
    }
}

#mobile{
	position:relative;
	height:1000px;
	#my_projects{
		color:gray;
		font-size:30px;
		text-align:center;
		height:40px;
	}
	.container{
		perspective:800px;
		-webkit-perspective:800px;
		-moz-perspective:800px;
		-ms-perspective: 800px;
		-o-perspective:800px;
		position:relative;
		margin:0 auto;
		width:400px;
		height:1000px;
	}
	.iphone-front,.iphone-back{
		transform-style:preserve-3d;
		-webkit-transform-style: preserve-3d;
		-moz-transform-style:preserve-3d;
		-ms-transform-style:none;
		-o-transform-style:preserve-3d;
		backface-visibility:hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:hidden;
		-ms-backface-visibility:hidden;
		-o-backface-visibility:hidden;
		width:380px;
		height:800px;
		position:absolute;
		top:130px;
		left:0px;
		background:url(../images/iphone.png) no-repeat right center;
		transition:0.8s;
	}

	.iphone-front{
		transform:rotateY(180deg);
		-webkit-transform:rotateY(180deg);
		-moz-transform:rotateY(180deg);
		-ms-transform:none;
		-o-transform:rotateY(180deg);
		background-position:left center;
	}

	.container:hover .iphone-back{
		transform:rotateY(180deg);
		-webkit-transform:rotateY(180deg);
		-moz-transform:rotateY(180deg);
		-ms-transform:none;
		-o-transform:rotateY(180deg);
	}

	.container:hover .iphone-front{
		transform:rotateY(360deg);
		-webkit-transform:rotateY(360deg);
		-moz-transform:rotateY(360deg);
		-ms-transform:none;
		-o-transform:rotateY(360deg);
	}
	#outer-container{
		position:absolute;
		top:118px;
		left:31px;
		width:320px;
		height:567px;
		background:url(../images/iphone_desk.png);
		overflow:hidden;
	}
	#inner-container{
		position:absolute;
		left:0;
		overflow-x:hidden;
		overflow-y:scroll;
	}
	#content{
		position:relative;
		width:320px;
		height:567px;
	}
	.news{
		font-size:24px;
	}
	#newsApp_icon:hover{
		cursor:pointer;
	}
	#news1{
		width:320px;
		height:200px;
		background:url("http://i2.cdn.turner.com/cnnnext/dam/assets/160712193345-01-pence-trump-split-overlay-tease.jpg");
		background-size:cover!important;
		color:white;
	}
	#news2{
		width:320px;
		height:200px;
		background:url("http://i2.cdn.turner.com/cnnnext/dam/assets/161005100340-laura-prepon-ben-foster-medium-tease.jpg");
		background-size:cover;
		color:white;
	}
	#news3{
		width:320px;
		height:200px;
		background:url("http://img.bleacherreport.net/cms/media/image/9f/8c/c4/a1/2b60/47a5/b85f/2d5f26d99eee/crop_exact_607676807_jm_4631_7f3a72e93c4f6d55f0180190d5722578.jpg?w=460&h=259&q=75");
		background-size:cover;
		color:white;
	}
	#news4{
		width:320px;
		height:200px;
		background:url("http://i2.cdn.turner.com/cnnnext/dam/assets/151123182014-02-weird-water-features-large-tease.jpg");
		background-size:cover;
		color:white;
	}
	#news5{
		width:320px;
		height:200px;
		background:url("http://i2.cdn.turner.com/cnnnext/dam/assets/161005100321-dwts-marriage-proposal-sasha-farber-emma-slater-2-medium-tease.jpg");
		background-size:cover;
		color:white;
	}
	#news6{
		width:320px;
		height:200px;
		background:url("http://www.nextadvisor.com/images/uploads/CardsOutOfFocus_460x259.jpg");
		background-size:cover;
		color:white;
	}
	#movie{
		width:320px;
		height:200px;
		background:url(../images/movie.gif);
		background-size:cover;
		color:white;
	}
	#shopping{
		width:320px;
		height:200px;
		background:url(../images/shopping.gif);
		background-size:cover;
		color:white;
	}
	#homebtn{
		position:absolute;
		left:155px;
		top:705px;
		width:70px;
		height:70px;
	}
	#homebtn:hover{
		cursor:pointer;
	}
	#homebtn_des{
		font-size:25px;
		text-align:center;
		height:40px;
	}
	#minionsApp{
		position:absolute;
		width:0px;
		height:0px;
	}
	#minionsApp_icon{
		position:absolute;
		background:white;
		border:2px solid black;
		font-size:20px; 
		width:240px;
		height:40px;
		left:35px;
		top:80px;
	}
	#doraemongameApp{
		position:absolute;
		width:0px;
		height:0px;
	}
	#doraemongameApp_icon{
		position:absolute;
		width:0px;
		height:0px;
	}
	#doraemongameApp_icon:hover{
		cursor:pointer;
	}
}

