#mobile{
	#iphone_body{
		position:relative;
		margin:0 auto;
		width:152px;
		height:320px;
		background: url(../images/iphone.png);
		background-size:cover;
	}
	#outer-container{
		position:absolute;
		top:48px;
		left:13px;
		width:128px;
		height:229px;
		overflow:hidden;
	}
	#inner-container{
		position:absolute;
		left:0;
		overflow-x:hidden;
		overflow-y:scroll;
	}
	#content{
		position:relative;
		width:128px;
		height:229px;
	}
	#newsApp{
		position:absolute;
		width:28px;
		height:28px;
		left:3px;
		top:7px;
		background:url(../images/news_icon.png);
		background-size:cover;
		border-radius:5px;
	}
	#minionsApp{
		position:absolute;
		width:0px;
		height:0px;
	}
	#minionsApp_icon{
		position:absolute;
		width:28px;
		height:28px;
		left:34px;
		top:7px;
		background:url(../images/minions_icon.png);
		background-size:cover;
		&:hover{
			cursor: pointer;
		}
	}
	#minionsApp_coming{
		position:absolute;
		background:white;
		border:1px solid black;
		font-size:8px; 
		width:72px;
		height:16px;
		left:12px;
		top:45px;
	}
	#doraemongameApp{
		position:absolute;
		width:0px;
		height:0px;
	}
	#doraemongameApp_icon{
		position:absolute;
		width:28px;
		height:28px;
		left:65px;
		top:7px;
		background:url(../images/doraemongame_icon.png);
		background-size:cover;
	}
    #blackjackApp{
		position:absolute;
		width:0px;
		height:0px;
	}
	#blackjackApp_icon{
		position:absolute;
		width:28px;
		height:28px;
		left:96px;
		top:7px;
		background:url(../images/blackjack_icon.png);
		background-size:cover;
		&:hover{
			cursor: pointer;
		}
	}
	#homebtn{
		position:absolute;
		left:63px;
		top:282px;
		width:28px;
		height:28px;
		&:hover{
			cursor:pointer;
		}
	}
}    
