#mobile {
  position: relative;
  height: 1000px; }
  #mobile .container {
    perspective: 800px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    -o-perspective: 800px;
    position: relative;
    margin: 0 auto;
    width: 400px;
    height: 1000px; }
  #mobile .iphone-front, #mobile .iphone-back {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: none;
    -o-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    width: 380px;
    height: 800px;
    position: absolute;
    top: 130px;
    left: 0px;
    background: url(../images/iphone.png) no-repeat right center;
    transition: 0.8s; }
  #mobile .iphone-front {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: none;
    -o-transform: rotateY(180deg);
    background-position: left center; }
  #mobile .container:hover .iphone-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: none;
    -o-transform: rotateY(180deg); }
  #mobile .container:hover .iphone-front {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: none;
    -o-transform: rotateY(360deg); }
  #mobile #outer-container {
    position: absolute;
    top: 118px;
    left: 31px;
    width: 320px;
    height: 567px;
    background: url(../images/iphone_desk.png);
    overflow: hidden; }
  #mobile #inner-container {
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll; }
  #mobile #content {
    position: relative;
    width: 320px;
    height: 567px; }
  #mobile .news {
    font-size: 24px; }
  #mobile #newsApp_icon:hover {
    cursor: pointer; }
  #mobile #news1 {
    width: 320px;
    height: 200px;
    background: url("http://i2.cdn.turner.com/cnnnext/dam/assets/160712193345-01-pence-trump-split-overlay-tease.jpg");
    background-size: cover !important;
    color: white; }
  #mobile #news2 {
    width: 320px;
    height: 200px;
    background: url("http://i2.cdn.turner.com/cnnnext/dam/assets/161005100340-laura-prepon-ben-foster-medium-tease.jpg");
    background-size: cover;
    color: white; }
  #mobile #news3 {
    width: 320px;
    height: 200px;
    background: url("http://img.bleacherreport.net/cms/media/image/9f/8c/c4/a1/2b60/47a5/b85f/2d5f26d99eee/crop_exact_607676807_jm_4631_7f3a72e93c4f6d55f0180190d5722578.jpg?w=460&h=259&q=75");
    background-size: cover;
    color: white; }
  #mobile #news4 {
    width: 320px;
    height: 200px;
    background: url("http://i2.cdn.turner.com/cnnnext/dam/assets/151123182014-02-weird-water-features-large-tease.jpg");
    background-size: cover;
    color: white; }
  #mobile #news5 {
    width: 320px;
    height: 200px;
    background: url("http://i2.cdn.turner.com/cnnnext/dam/assets/161005100321-dwts-marriage-proposal-sasha-farber-emma-slater-2-medium-tease.jpg");
    background-size: cover;
    color: white; }
  #mobile #news6 {
    width: 320px;
    height: 200px;
    background: url("http://www.nextadvisor.com/images/uploads/CardsOutOfFocus_460x259.jpg");
    background-size: cover;
    color: white; }
  #mobile #movie {
    width: 320px;
    height: 200px;
    background: url(../images/movie.gif);
    background-size: cover;
    color: white; }
  #mobile #shopping {
    width: 320px;
    height: 200px;
    background: url(../images/shopping.gif);
    background-size: cover;
    color: white; }
  #mobile #homebtn {
    position: absolute;
    left: 155px;
    top: 705px;
    width: 70px;
    height: 70px; }
  #mobile #homebtn:hover {
    cursor: pointer; }
  #mobile #homebtn_des {
    font-size: 25px;
    text-align: center;
    height: 40px; }
  #mobile #minionsApp {
    position: absolute;
    width: 0px;
    height: 0px; }
  #mobile #minionsApp_icon {
    position: absolute;
    background: white;
    border: 2px solid black;
    font-size: 20px;
    width: 240px;
    height: 40px;
    left: 35px;
    top: 80px; }
  #mobile #doraemongameApp {
    position: absolute;
    width: 0px;
    height: 0px; }
  #mobile #doraemongameApp_icon {
    position: absolute;
    width: 0px;
    height: 0px; }
  #mobile #doraemongameApp_icon:hover {
    cursor: pointer; }

/*# sourceMappingURL=apps.css.map */
