#mobile{
	#iphone_body{
		position:relative;
		margin:0 auto;
		width:380px;
		height:800px;
		background: url(../images/iphone.png);
	}
	#outer-container{
		position:absolute;
		top:118px;
		left:31px;
		width:320px;
		height:567px;
		overflow:hidden;
	}
	#inner-container{
		position:absolute;
		left:0;
		overflow-x:hidden;
		overflow-y:scroll;
	}
	#content{
		position:relative;
		width:320px;
		height:567px;
	}
	#newsApp{
		position:absolute;
		width:70px;
		height:70px;
		left:7px;
		top:20px;
		background:url(../images/news_icon.png);
		background-size:cover;
		border-radius:10px;
	}
	#minionsApp{
		position:absolute;
		width:0px;
		height:0px;
	}
	#minionsApp_icon{
		position:absolute;
		width:70px;
		height:70px;
		left:84px;
		top:20px;
		background:url(../images/minions_icon.png);
		&:hover{
			cursor: pointer;
		}
	}
	#minionsApp_coming{
		position:absolute;
		background:white;
		border:2px solid black;
		font-size:20px; 
		width:180px;
		height:40px;
		left:35px;
		top:100px;
	}
	#doraemongameApp{
		position:absolute;
		width:0px;
		height:0px;
	}
	#doraemongameApp_icon{
		position:absolute;
		width:70px;
		height:70px;
		left:161px;
		top:20px;
		background:url(../images/doraemongame_icon.png);
		&:hover{
			cursor: pointer;
		}
	}
	#blackjackApp{
		position:absolute;
		width:0px;
		height:0px;
	}
	#blackjackApp_icon{
		position:absolute;
		width:70px;
		height:70px;
		left:238px;
		top:20px;
		background:url(../images/blackjack_icon.png);
		&:hover{
			cursor: pointer;
		}
	}
	#homebtn{
		position:absolute;
		left:155px;
		top:705px;
		width:70px;
		height:70px;
		&:hover{
			cursor:pointer;
		}
	}
}    
