#shelter{
	height:600px;
	margin:0 auto;
}

.shelters{
	height:120px;
	position:relative;
}

#eye_makeup{
	width:14px;
	height:105px;
	background: url(../images/eye_makeup.png) center no-repeat;
	background-size:cover;
	position:absolute;
	bottom:25px;
	right:120px;
}

#lipstick{
	width:19px;
	height:78px;
	background: url(../images/lipstick.png) center no-repeat;
	background-size:cover;
	position:absolute;
	bottom:25px;
	right:100px;
}

#diarybook{
	width:67px;
	height:55px;
	background: url(../images/diary_book.png) center no-repeat;
	background-size:cover;
	position:absolute;
	bottom:25px;
	left:100px;
}

#locker{
	width:43px;
	height:59px;
	background: url(../images/locker.png) center no-repeat;
	background-size:cover;
	position:absolute;
	bottom:25px;
	right:100px;
	border:none;
}

#memo_rope{
	width:250px;
	height:184px;
	background: url(../images/memo.png) center no-repeat;
	background-size:cover;
	position:relative;
}

#memo1{
	width:50px;
	height:50px;
	background:url(../images/memo1.png) center no-repeat;
	background-size:cover;
	position:absolute;
	left:40px;
	top:115px;
}

#memo2{
	width:50px;
	height:50px;
	background:url(../images/memo2.png) center no-repeat;
	background-size:cover;
	position:absolute;
	left:135px;
	top:75px;
}

#shelter_above{
	height:90px;
}

#shelter_above_board{
	width:265px;
	height:19px;
	background: url(../images/shelter_above.png) center no-repeat;
	position:absolute;
	bottom:10px;
	margin:0 67px;
}

#shelter_middle_board{
	width:265px;
	height:19px;
	background: url(../images/shelter_middle.png) center no-repeat;
	position:absolute;
	bottom:10px;
	margin:0 67px;
}

#shelter_below_board{
	width:265px;
	height:19px;
	background: url(../images/shelter_below.png) center no-repeat;
	position:absolute;
	bottom:10px;
	margin:0 67px;
}

.diary_notes{
	width:85%;
	height:auto;
	margin:0 auto;
	border-radius:5px;
	box-shadow:0 5px 10px gray;
	background:#f7da88;
	padding:10px;
	margin-top:20px;
}

h3{
	margin-top:0;
}

#backtohomebtn1,#backtohomebtn2,#gotonewestdairy{
    margin:20px 0 0 26px;
}

#memo_exp{
    background:#f7da88;
	width:150px;
	font-size:15px;
	position:absolute;
	left:40px;
	top:10px;
	padding:5px;
	border-radius:5px;
	box-shadow:0 4px 5px gray;
}

#makeup_exp{
    background:#f7da88;
	width:120px;
	font-size:15px;
	position:absolute;
	left:100px;
	top:0px;
	padding:5px;
	border-radius:5px;
	box-shadow:0 4px 5px gray;
}

#locker_enter{
   width:150px;
   height:70px;
   position:absolute;
   left:80px;
   bottom:35px;
}

#password{
   padding:5px;
}

#enterlockerbtn{
   margin:0 auto;
}

#backtohomebtn2{
	margin-top:20px;
	margin-left:26px;
}

#lock_content{
	text-align:center;
	font-size:36px;
	font-weight:bold;
}

#lock_notes{
	text-align:center;
}

#cry_gif{
	width:150px;
	height:146px;
	background:url(../images/cry.gif) center no-repeat;
	background-size:cover;
	margin:0 auto;
}

#bubble_dummylayer{
	position: absolute;
	z-index:100;
}

#bubble_layer{
	position:relative;
	width:100%;
	height:auto;
}
