body {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 1.5em;
    .resume_header {
        transition: ease 3s;
        height:55vw;
        padding-top: 50px;
        border-bottom: 1px lightgrey solid;
        padding-bottom: 50px;
        background: url(../images/newyork.jpg) no-repeat center;
        background-size:cover;
        >div>a {
            margin-left: 8.33% !important;
            h1 {
                font-size: 4em;
                color: white;
                border-radius: 3px;
                display: inline;
                &:hover{
                    color:white;
                }
            }
        }
        ul {
            margin-top: 40px;
            padding-top: 20px;
            padding-bottom: 20px;
            list-style: none;
            li {
                text-align: center;
                font-size:24px;
                a { 
                    color: white !important;
                    border-radius: 3px;
                    text-decoration: none;
                    &:hover {
                        color: #44a3d3 !important;
                    }
                }
            }
        }
    }
    .footer {
        position:relative;
        clear: both;
        height: 50px;
        width: 100%;

        p.copyright {
            padding-left: 2%;
            line-height: 40px;
            font-size: 0.7em;
            position: absolute;
            width: 100%;
            text-align: left;
            bottom: 0;
        }
        .social {
            font-size: 19px;
            float: right;
            color: #fff;
            padding-right: 30px;
            /* width: 100%; */
            height: 10px;
        }
    }
}