<div ng-controller="AppsController">
    <div class="row">
    	<div class="col-sm-12" id="mobile">
	    	<div class="container">
	    		<div class="iphone-back"></div>
	    		<div class="iphone-front">
	    			<div id="outer-container">
	    				<div id="inner-container">
	    					<div id="content">
	                            <div id="newsApp">
	                                <div id="newsApp_icon">
	            					    <div class="news" id="movie">Movie</div>
	            						<div class="news" id="news1">Politics</div>
	            						<div class="news" id="shopping">Shopping</div>
	                                </div>
	        						<div class="news" id="news2">Stars</div>
	        						<div class="news" id="news3">Sports</div>
	        						<div class="news" id="news4">Travel</div>
	        						<div class="news" id="news5">Entertainment</div>
	        						<div class="news" id="news6">Financial</div>
	                            </div>
	                            <div id="minionsApp"></div>
	                            <div id="minionsApp_icon" style="display:none"><img src="images/cone.png"/>Under construction<img src="images/cone.png"/></div>
	                            <div id="doraemongameApp"></div>
	                            <div id="doraemongameApp_icon"></div>
	    					</div>
	    				</div>
	    			</div>
	                <div id="homebtn"></div>
	    		</div>
	    	</div>
	        <div id="homebtn_des">Press home button and try other apps!</div>
	    </div>
    </div>
</div>