<div ng-controller="AppsController">
   <div class="row">
		<div id="mobile" class="col-xs-offset-3 col-xs-6">
		   <div id="iphone_body">
		   	    <div id="outer-container">
					<div id="inner-container">
						<div id="content">
						    <div id="newsApp"></div>
						    <div id="minionsApp"></div>
	                        <div id="minionsApp_icon"></div>
	                        <div id="minionsApp_coming" style="display:none">Under construction</div>
	                        <div id="doraemongameApp"></div>
	                        <div id="doraemongameApp_icon"></div>
	                        <div id="blackjackApp"></div>
	                        <div id="blackjackApp_icon"></div>
		    			</div>
		    	    </div>
	            </div>
	            <div id="homebtn"></div>
		   </div>
		</div>
   </div>
</div>