<div class="experience row">
    <div class="col-xs-12 col-sm-2">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>Work Experience</h2>
        </div>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-sm-9">
        <div class="col-xs-12 experience_block">
            <div class="col-xs-12"> 
                <div class="job_title">Front End Trainer</div>
                <p>(Aug. 2016 - Present) Company: IT Tech School, New York City, United States</p>
            </div>
            <div class="col-xs-12">
                <ul>
                    <li>
                        Code all teaching materials about front end development in webpage instead of using Powerpoint</li>
                    <li>
                        Teach students front end technologies <strong>html,css,javascript</strong> according to their levels
                    </li>
                    <li>
                        Supervise students do projects and give them tests every week
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 experience_block">
            <div class="col-xs-12">
                <div class="job_title">Front End Developer Intern</div>
                <p>(Jan. 2015 - Aug. 2015) Company: Spark.Inc,New York, United States</p>
            </div>
            <div class="col-xs-12">
                <ul>
                    <li>Create and implemented a custom CSS grid system, with Bootstrap for mobile responsiveness</li>
                    <li>
                        Converted photoshop layouts to web pages using HTML5,CSS3 and javascript
                    </li>
                    <li>
                        Built user sign-up and login validation system
                    </li>
                    <li>
                        Fixed front end bugs HTML5,CSS3,Javascript using sinon.js/jasmine.js to do unit testing
                    </li>
                </ul>
            </div>
        </div>
            
        <div class="col-xs-12 experience_block"> 
            <div class="col-xs-12">
                <div class="job_title">Front End Developer</div>
                (Nov. 2013 - May. 2014) Company: Dynamic Urban Technologies, New York, United States
            </div>
            <div class="col-xs-12">
                <ul>
                    <li>
                        Enhenced the display of web page by adding animations using CSS/Sass
                    </li>
                    <li>
                        Created and maintained the front-end standards document and oversaw production of javascript,HTML5 and CSS3
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
