<div class="col-md-12">
    <div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1">
        <div class="container">
            <div class="selfie-back"></div>
            <div class="selfie-front"></div>
        </div>
    </div>
    <div class="col-md-6 col-sm-10 col-sm-offset-1 col-md-offset-0 resume_home-content">
        <div class="desbox">Hi everyone, I'm <strong>Cihai Sun</strong>. Welcome to my page.</div>
        <div class="desbox">Right now I'm looking for a <strong>front end development job</strong>!</div>
        <div class="desbox">I was born in <strong>Shanghai</strong>, a famous big city located at east of China. I almost lived there for 25 years.</div>
        <div class="desbox">In 2009, after I graduate from Tongji Unversity,I was assigned to work in <strong>Tokyo</strong> for one year and I had a lot of good memories there. I was impressed by Japaneses' hard work culture and that cultivated my high responsibility since then.</div>
        <div class="desbox">In 2013, I made my decision to immigrate into <strong>New York</strong> with my family. And then I started my computer science master degree in George Washington University in <strong>Washington D.C.</strong> from 2014. During the study, I find web development is very interesting and I decide to take it as my future career!</div>
        <div class="desbox">My life is full of good memories with those cities I lived and loved. I hope my future life will also be nice and wonderful. Just be happy everyday!</div>
    </div>
</div>