<div ng-controller="ProjectsController">
	<div class="row" >
	    <div class="col-sm-4 col-sm-offset-1 col-xs-12 projects" id="social_media_wall">
	        <img src="images/social_media_wall.jpg">
	        <div class="project_name">Social Media Wall</div>
	    </div>
	    <div class="col-sm-offset-1 col-sm-4 col-xs-12 projects" id="fashion_women_and_news">
	        <img src="images/enhanced_display.jpg">
	        <div class="project_name">Fashion Women and News</div>
	    </div>
	</div>
	<button class="btn btn-info" id="closebtn">Close Project</button>
</div>

